#main {
    margin: 100px 0px;
}

.home-videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 20px;
}

.videoBlock__thumbnail {
    width: 300px;
    height: 150px;
    margin-bottom: 5px;
}

.home-videos .videoBlock {
    padding: 10px;
}

.videoBlock__bottom {
    display: flex;
    justify-content: stretch;
}

#main #moreVideoButton {
    margin-left: 0;
    width: 100%;
}

