#jsRecordContainer {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#jsVideoPreview {
    margin: 10px 0;
    height: 300px;
}

#jsRecordBtn {
    margin-left: 0;
}

#title {
    width: 630px;
}

#videoDescription {
    display: block;
}
