<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
    <header th:replace="fragments/fragments.html :: header"></header>
    <div class="search__header">
        <h3 th:text="'Searching for: ' +  ${searchingBy}"></h3>
    </div>
    <div class="search__videos">
        <div th:each="item : ${videos}" class="videoBlock">
            <a th:href="@{'/videos/' + ${item.id}}">
                <video th:src="'/videos/download?fileUrl=' + ${item.saveFileName}" class="videoBlock__thumbnail" controls="true"></video>
                <h4 class="videoBlock__title" th:text="${item.title}"></h4>
                <h6 class="videoBlock__views" th:text="${item.views}"></h6>
            </a>
        </div>
    </div>
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
</html>