<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
    <header th:replace="fragments/fragments.html :: header"></header>
    <div class="form-container">
        <form th:action="@{/videos}" method="post">
            <label for="file">Video File</label>
            <input type="file" id="file" name="file">
            <input type="text" placeholder="Title" name="title">
            <textarea name="description" placeholder="Description"></textarea>
            <input type="submit" value="Upload Video">
        </form>
    </div>
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
</html>