<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
<header th:replace="fragments/fragments.html :: header"></header>
<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details contact[">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="videoPlayer col-lg-8" id="jsVideoPlayer">
                    <video>
                        <!--            비디오 삽입-->
                    </video>
                    <div class="videoPlayer__controls">
                        <div class="videoPlayer__column">
                            <span id="jsVolumeBtn"><i class="fas fa-volume-up"></i></span>
                            <span>
                                    <span id="currentTime">00:00:00</span>
                                    <span>/</span>
                                    <span id="totalTime">00:00:00</span>
                                </span>
                            <input type="range" class="videoPlayer__volume" id="jsVolume" min="0" max="1"
                                   value="0.5" step="0.1">
                        </div>
                        <div class="videoPlayer__column">
                            <span id="jsPlayButton"><i class="fas fa-play"></i></span>
                        </div>
                        <div class="videoPlayer__column">
                            <span id="jsFullScreen"><i class="fas fa-expand"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 portfolio-info video-info">
                    <a th:if="${member.email == video.creator.email}"
                       th:href="@{'/videos/' + ${video.id} + '/edit'}">
                        Edit Video
                    </a>
                    <h5 class="video__title" th:text="${video.title}">Video Title</h5>
                    <p class="video__description" th:text="${video.description}">Video Description</p>
                    <!-- <span th:if="${video.views == 1}" class="video__views" th:text="${video.views} + ' view'">1</span> -->
                    <span th:if="${video.views > 1}" class="video__views" th:text="${video.views} + ' views'">1
                            Views</span>
                    <div class="video__author">
                        Upload By <a th:href="@{'/members/profile/' + ${video.creator.name}}"
                                     th:text="${video.creator.name}">Joohyuk</a>
                    </div>
                </div>
            </div>

            <div class="comment-container">
                <div class="comment-container__input">
                    <div class="mb-3 form-group">
                        <label for="newCommentText" id="createCommentLabel">댓글 남기기</label>
                        <textarea class="form-control" id="newCommentText" name="content" placeholder="댓글을 남겨주세요"
                                  wrap="hard" required></textarea>
                        <div class="invalid-feedback">3자에서 200자 사이로 입력해 주세요</div>
                    </div>
                    <div class="comment-container__input-button">
                        <button class="btn get-started-btn" type="submit" id="commentAddBtn">댓글 작성</button>
                    </div>
                </div>

                <div class="comment-container__timeline">
                        <span id="commentNum">
                            <!-- comment 개수 표시 -->
                        </span>

                    <ul class="time-label flex" id="commentList">
                        <!-- 댓글 삽입 -->
                    </ul>

                    <ul class="pagination pagination-sm justify-content-center">
                        <!-- 페이지 버튼 삽입 -->
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

    <!-- 수정 모달창-->
    <div class="modal fade" id="modifyCommentModal" tabindex="-1" role="dialog"
         aria-labelledby="modifyCommentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">댓글 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-group">
                    <p>댓글을 수정해주세요.</p>
                    <textarea class="form-control" id="modifyCommentText" name="text" wrap="hard"
                              placeholder="댓글을 작성해 주세요"
                              required></textarea>
                    <div class="invalid-feedback">3자에서 200자 사이로 입력해 주세요</div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" aria-describedby="submitHelp"
                            id="commentModifyButton">수정
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제 모달창 -->
    <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="leaveTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">댓글 삭제</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>삭제</strong> 하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" aria-describedby="submitHelp"
                            id="commentDeleteButton">삭제
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
<div class="videoId" th:id="${video.id}"></div>
<input type="hidden" id="videoCreatorName" th:value="${video.creator.name}">
<input type="hidden" id="currentMemberName" th:value="${member.name}">
<script src="/assets/js/videoPlayer.js"></script>
<script src="/assets/js/addComment.js"></script>
<script src="/assets/js/commentPagination.js"></script>
<script>
    $(function () {
        moment.locale('ko');
        $(".fromNow").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
        });
    })
</script>
<script id="commentTemplate" type="text/x-handlebars-template">
    <li class="col-lg-4 portfolio-info" data-commentId="{{id}}">
        <div class="comment__header">
            <div class="comment__header-left">
                <a href="/members/profile/{{name}}">{{name}}</a>
                <span class="fromNow">{{modifiedDateTime}}</span>
            </div>
            {{#if isWriter}}
                <div id="comment-modify-button">
                    <a data-toggle="modal" data-target="#modifyCommentModal"
                       class="badge get-started-btn" data-id="{{id}}">수정</a>
                    <a data-toggle="modal" data-target="#deleteCommentModal"
                       class="badge get-started-btn" data-id="{{id}}">삭제</a>
                </div>
            {{/if}}
        </div>
        <div class="comment__main">
            <p>{{text}}</p>
        </div>
    </li>
</script>
</html>