<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
    <header th:replace="fragments/fragments.html :: header"></header>
    <div class="video__player">
        <video th:src="@{'/' + video.fileUrl}"></video>
    </div>
    <div class="video__info">
        <a th:href="@{'/videos/' + ${video.id} + '/edit'}">Edit Video</a>
        <h5 class="video__title" th:text="${video.title}">Video Title</h5>
        <span class="video__views" th:text="${video.views}">0</span>
        <p class="video__description" th:text="${video.description}">Video Description</p>
    </div>
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
</html>