<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">WeTube</title>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
</head>

<header th:fragment="header" class="header">
    <div class="header__column">
        <a th:href="@{/}">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <div class="header__column">
        <ul>
            <li>
                <a th:href="@{/join}">Join</a>
            </li>
            <li>
                <a th:href="@{/login}">Log In</a>
            </li>
        </ul>
    </div>
</header>

<footer th:fragment="footer" class="footer">
    <div class="footer__icon">
       <i class="fab fa-youtube"></i>
    </div>
    <span class="footer__text">WeTube 2020 &copy;</span>
</footer>

</html>