<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">WeTube</title>
<!--    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
</head>

<header th:fragment="header" class="header">
    <div class="header__column">
        <a th:href="@{/}">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <div class="header__column">
        <form th:action="@{/search}" method="get">
            <input type="text" placeholder="Search by term..." name="term">
        </form>
    </div>
    <div class="header__column">
        <ul sec:authorize="!isAuthenticated()">
            <li>
                <a th:href="@{/join}">Join</a>
            </li>
            <li>
                <a th:href="@{/login}">Log In</a>
            </li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li>
                <a th:href="@{/videos/upload}">Upload</a>
            </li>
            <li>
                <a th:href="@{'/members/'+ ${#authentication.name}}">Profile</a>
            </li>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </ul>
    </div>
</header>

<footer th:fragment="footer" class="footer">
    <div class="footer__icon">
        <i class="fab fa-youtube"></i>
    </div>
    <span class="footer__text">WeTube 2020 &copy;</span>
</footer>

<div th:fragment="social-login" class="social-login">
    <button class="social-login--github">
        <span>
            <i class="fab fa-github"></i>
            Continue with Github
        </span>
    </button>
    <button class="social-login--facebook">
        <span>
            <i class="fab fa-facebook-square"></i>
            Continue with Github
        </span>
    </button>
</div>
</html>