<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
    <header th:replace="fragments/fragments.html :: header"></header>
    <div class="form-container">
        <form th:object="${changePasswordForm}" th:action="@{/members/change-password}" method="post">
<!--            <input type="password" name="oldPassword" placeholder="Current Password">-->
            <input type="password" th:field="*{newPassword}" name="newPassword" placeholder="New Password">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">email</small>
            <input type="password" th:field="*{newPassword1}" name="newPassword1" placeholder="Verify New Password">
            <input type="submit" value="Change Password">
        </form>
    </div>
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
</html>