<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
    <header th:replace="fragments/fragments.html :: header"></header>
    <div class="form-container">
        <form th:action="@{/members/change-password}" method="post">
            <input type="password" name="oldPassword" placeholder="Current Password">
            <input type="password" name="newPassword" placeholder="New Password">
            <input type="password" name="newPassword1" placeholder="Verify New Password">
            <input type="submit" value="Change Password">
        </form>
    </div>
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
</html>