<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
<header th:replace="fragments/fragments.html :: header"></header>
<div th:replace="fragments/fragments.html :: message"></div>
<main id="main">
    <div class="section-title">
        <h2>회원 정보 변경</h2>
    </div>

    <div class="contact">
        <div class="form-container container">
            <form th:object="${memberUpdateForm}" th:action="@{/members/edit-profile}" method="post"
                  enctype="multipart/form-data" class="php-email-form">
                <div class="fileUpload">
                    <label for="avatar">Avatar</label>
                    <input type="file" th:field="*{multipartImageProfile}" id="avatar" accept="image/*">
                </div>
                <div class="imageWrap">
                    <img class="thumb_image" style="width: 100px">
                </div>
                <div class="text-center">
                    <button type="submit">Update Profile</button>
                </div>
            </form>
        </div>
    </div>

</main><!-- End #main -->
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
<div th:replace="fragments/fragments.html::jsVendorFiles"></div>
<script src="/assets/js/user/editProfile.js"></script>
</html>