<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
<header th:replace="fragments/fragments.html :: header"></header>
<div th:replace="fragments/fragments.html :: message"></div>
<main id="main" class="container">
    <div class="home-videos">
        <div th:each="item : ${videos}" class="videoBlock">
            <a th:href="@{'/videos/' + ${item.id}}">
                <video th:src="@{${item.saveFileName}}" class="videoBlock__thumbnail" controls="false"></video>
                <h4 class="videoBlock__title" th:text="${item.title}"></h4>
                <div class="videoBlock__bottom">
                    <h6 th:if="${item.views == 1}" class="videoBlock__views" th:text="${item.views + ' view'}"></h6>
                    <h6 th:if="${item.views > 1}" class="videoBlock__views" th:text="${item.views + ' views'}"></h6>
                    <h6 class="ml-2 fromNow">1년전</h6>
                </div>
            </a>
        </div>
    </div>
</main>
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
</html>