<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
    <header th:replace="fragments/fragments.html :: header"></header>
    <div class="videos">
        <div th:each="item : ${videos}">
            <h1 th:text="${item.title}"></h1>
            <p th:text="${item.description}"></p>
        </div>
    </div>
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
</html>