<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments.html :: head"></head>
<body>
    <header th:replace="fragments/fragments.html :: header"></header>
    <div class="form-container">
        <form th:object="${memberJoinForm}" th:action="@{/join}" method="post">
            <input type="text" th:field="*{name}" name="name" placeholder="Full Name">
            <input type="email" th:field="*{email}" name="email" placeholder="Email">
            <input type="password" th:field="*{password}" name="password" placeholder="Password">
            <input type="password" th:field="*{password2}" name="password2" placeholder="Verify Password">
            <input type="submit" value="Join Now">
        </form>
        <div th:replace="fragments/fragments.html :: social-login"></div>
    </div>
</body>
<footer th:replace="fragments/fragments.html :: footer"></footer>
</html>